<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glivion.y2k">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DashBoard">

        <activity
            android:name=".ui.ui.DashBoard"
            android:label="@string/dashboard"
            android:theme="@style/DashBoard">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.ui.AddLoanActivity"
            android:label="@string/add_loan"
            android:theme="@style/DashBoard"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.ui.LoanDetailActivity"
            android:label="@string/add_payment"
            android:theme="@style/DashBoard" />

        <activity
            android:name=".ui.ui.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/DashBoard" />

        <activity
            android:name=".ui.ui.AddCategory"
            android:label="@string/add_category" />

    </application>

</manifest>
