<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glivion.y2k">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DashBoard">

        <activity
            android:name=".android.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoard">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".android.ui.AddLoanActivity"
            android:label="@string/add_loan"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoard"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".android.ui.LoanDetailActivity"
            android:label="Loan Detail"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoard" />

        <activity
            android:name=".android.ui.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoard" />

        <activity
            android:name=".android.ui.AddCategory"
            android:label="@string/add_category"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".android.ui.TipsActivity"
            android:label="@string/tips"
            android:screenOrientation="portrait" />

        <activity
            android:name=".android.ui.TipDetail"
            android:label="@string/tips"
            android:screenOrientation="portrait" />

        <activity
            android:name=".android.ui.AddIncome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".android.ui.IncomeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".android.ui.AddBudgetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".android.ui.AddBudgetItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".android.ui.BudgetDetailActivity"
            android:label="Budget Detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>
